<div class="modal">
  <div class="modal-header">
    <h3>Forgot your password?</h3>
  </div>
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "form-horizontal" }) do |f| %>
  <div class="modal-body">
    <div class="alert-area">
    	<%= devise_error_messages! %>
    </div>
    
      <div class="control-group">
        <label class="control-label" for="email">Email Address:</label>
        <div class="controls">
        	<%= f.email_field :email, :class => "input-xlarge" %>
          <p class="help-block">Enter your email address to reset your password.</p>
        </div>
      </div>
  </div>
  <div class="modal-footer">
  	<%= f.submit "Send me reset password instructions", :class => "btn btn-primary password-button" %>
    <%= link_to "Return to Login", new_session_path(resource_name), :class => "btn login-button" %>
  </div>
  <% end %>
</div>