<h2>Listed Orders</h2>
<%= table_for @orders, :table_html => { :class => "table" } do |table| %>
	<% table.before :table do %>
		<%= paginate @orders %>
	<% end %>
	<% table.after :table do %>
		<%= paginate @orders %>
	<% end %>
	<% table.column :label => "Order Date" do  |order| %>
		<%= link_to order.created_at.to_s(:short12), order %>
	<% end %>
  <% table.column :label => "Client" do |order| %>
  	<a href=""><%= order.client.name %></a>
  <% end %>
  <% table.column :friendly_status, :label => "Status" %>
  <% table.column :item_list %>
  <% table.column :label => "Location" do |order| %>
  	<a href=""><%= order.location.name %></a>
  <% end %>
<% end %>
<% content_for :actions, render(:partial => 'sidebar') -%>