<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", orders_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_order_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", order_path %></li>
    </ul>
  </div>
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.order.location_id", :default => t("activerecord.labels.location_id", :default => "Location")) %>:</b>
          <%= @order.location_id %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.order.client_id", :default => t("activerecord.labels.client_id", :default => "Client")) %>:</b>
          <%= @order.client_id %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.order.alternate_phone", :default => t("activerecord.labels.alternate_phone", :default => "Alternate phone")) %>:</b>
          <%= @order.alternate_phone %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.order.directions", :default => t("activerecord.labels.directions", :default => "Directions")) %>:</b>
          <%= @order.directions %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.order.delivery_point_type_id", :default => t("activerecord.labels.delivery_point_type_id", :default => "Delivery point type")) %>:</b>
          <%= @order.delivery_point_type_id %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.order.delivery_type", :default => t("activerecord.labels.delivery_type", :default => "Delivery type")) %>:</b>
          <%= @order.delivery_type %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.order.miles", :default => t("activerecord.labels.miles", :default => "Miles")) %>:</b>
          <%= @order.miles %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.order.time", :default => t("activerecord.labels.time", :default => "Time")) %>:</b>
          <%= @order.time %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.order.scheduled_delivery_date", :default => t("activerecord.labels.scheduled_delivery_date", :default => "Scheduled delivery date")) %>:</b>
          <%= @order.scheduled_delivery_date %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.order.status", :default => t("activerecord.labels.status", :default => "Status")) %>:</b>
          <%= @order.status %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_order_path(@order), :class => "button" %>
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), order_path(@order), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>

      <h3>Items</h3>
      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
