<!DOCTYPE html>
<html>
<head>
  <title><%= application_title %></title>
  <%= stylesheet_link_tag 'web_app_theme' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/"><%= application_title %></a></h1>
      <div id="user-navigation">
        <ul class="wat-cf">
          <li><a>Hi <strong><%= current_user.name %>!</a></li>
          <li><%= link_to t("web-app-theme.settings", :default => "Your Settings"), settings_path %></a></li>
          <li><%= link_to t("web-app-theme.logout", :default => "Logout"), destroy_user_session_path, :method => :delete %></a></li>
        </ul>
      </div>
      <div id="main-navigation">
        <ul class="wat-cf">
          <li<% if params[:controller] == "home" %> class="active"<% end %>><%= link_to "Home", root_path %></li>
          <li<% if params[:controller] == "orders" %> class="active"<% end %>><%= link_to "Orders", orders_path %></li>
          <li<% if params[:controller] == "inventory_items" %> class="active"<% end %>><%= link_to "Inventory", inventory_items_path %></li>
          <li<% if params[:controller] == "clients" %> class="active"<% end %>><%= link_to "Clients", clients_path %></li>
          <li<% if params[:controller] == "locations" %> class="active"<% end %>><%= link_to "Locations", locations_path %></li>
          <li<% if params[:controller] == "administration" %> class="active"<% end %>><%= link_to "Administration", administration_path %></li>
        </ul>
      </div>
    </div>
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>
      <div id="main">
        <%= yield %>
        <div id="footer">
          <div class="block">
            <p>Copyright &copy; <%= Time.now.year %> <%= organization_name %>.</p>
            <p><%= params %></p>
          </div>
        </div>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>
  </div>
</body>
</html>
